.maindiv {
  left:50%;

  width:100%;
height:1cm;
margin-top:40px;
background: #333;  
position: absolute;
transform: translate(-50%, -50%);
}

#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #bbb;
}
.toptext
{
  margin-top:4cm;
  width:200%;
}
